<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Potraviny</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option 
      *ngFor="let option of filteredOptions | async"
      [routerLink]="['/resource', option.id]">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- species Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="carb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>carb</th>
      <td mat-cell *matCellDef="let row">{{row.carb}}</td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="prot">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>prot</th>
      <td mat-cell *matCellDef="let row">{{row.prot}}</td>
    </ng-container>

    <!-- K Column -->
    <ng-container matColumnDef="fat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fat</th>
      <td mat-cell *matCellDef="let row">{{row.fat}}</td>
    </ng-container>
    <!-- K1 Column -->
    <ng-container matColumnDef="fib">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fib</th>
      <td mat-cell *matCellDef="let row">{{row.fib}}</td>
    </ng-container>
    <!-- K2 Column -->
    <ng-container matColumnDef="energy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>energy</th>
      <td mat-cell *matCellDef="let row">{{row.energy}}</td>
    </ng-container>

    <!-- K2 Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>_id</th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab enabled [routerLink]="['/resource', row._id]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>