<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Administrátorská stránka aplikace Meal Planner</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/resources" routerLinkActive="active">Suroviny</button>
    <button mat-button routerLink="/recipes" routerLinkActive="active">Recepty</button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_box</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
