<form [formGroup]="formGroup" class="mat-elevation-z8 addForm">

  <div class="header">
    Přidat surovinu
    <button mat-button class="arrowBTN"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>

  <mat-form-field>
    <mat-label>Jméno</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Proteiny</mat-label>
    <input matInput formControlName="prot">
    <span matSuffix>g</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cukry</mat-label>
    <input matInput formControlName="carb">
    <span matSuffix>g</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tuky</mat-label>
    <input matInput formControlName="fat">
    <span matSuffix>g</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vláknina</mat-label>
    <input matInput formControlName="fib">
    <span matSuffix>g</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Energie</mat-label>
    <input matInput formControlName="energy">
    <span matSuffix>/100g</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jméno jenotky</mat-label>
    <input matInput formControlName="unitName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gramáž</mat-label>
    <input matInput formControlName="unitGrammage">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Alergeny</mat-label>
    <input matInput formControlName="allergens">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <input matInput formControlName="category">
  </mat-form-field>

</form>
